
<% @places.each do |place| %>
	<div class='booyah-box col-xs-12'>
		<h1><%= link_to place.name, place_path(place) %></h1>
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />
		<% if place.comments.present? %>
		  <div class='col-xs-12'>
		    <blockquote>
		      <% if place.comments.last.humanized_rating.present? %>  
		        <b><%= place.comments.last.humanized_rating %></b> -
		        <% end %>
		          <%= place.comments.last.message %>
		        <small><%= place.comments.last.user.email %></small>
		    </blockquote>
		  </div>
		 <% end %>
		<% if place.photos.present? %>
		  <div class='col-xs-4 col-xs-offset-4'>
		  	<%= image_tag place.photos.last.picture, :class => 'img-thumbnail' %>
		  </div>
		<% end %>
	</div>
<% end %>

<div class = 'col-xs-12 paginate'
	<%= paginate @places %>
	<%= page_entries_info @places %>
</div>